substitutions:
  device_name: "plant-waterer"
  friendly_name: "Plant Waterer"
  dry_pct_default: 30
  wet_pct_default: 60

packages:
  moist: !include common/moist-sensor.yaml
  pump: !include common/water-pump.yaml
  light: !include common/status-light.yaml
  button: !include common/main-button.yaml

esphome:
  name: ${device_name}
  friendly_name: ${friendly_name}
  on_boot:
    priority: -10
    then:
      - script.execute:
          id: update_plant_light
          moisture: !lambda 'return id(soil_moisture).state;'
      - light.turn_on:
          id: status_light
          brightness: 35%

esp32:
  board: m5stack-atom
  framework:
    type: arduino

number:
  - platform: template
    id: dry_level
    name: "Soil Dry Level (%)"
    entity_category: config
    optimistic: true
    restore_value: true
    min_value: 0
    max_value: 100
    step: 1
    unit_of_measurement: "%"
    initial_value: ${dry_pct_default}

  - platform: template
    id: wet_level
    name: "Soil Wet Level (%)"
    entity_category: config
    optimistic: true
    restore_value: true
    min_value: 0
    max_value: 100
    step: 1
    unit_of_measurement: "%"
    initial_value: ${wet_pct_default}

# ======================
# BINARY SENSORS
# ======================

binary_sensor:
  - platform: template
    id: soil_too_dry
    name: "Soil Too Dry"
    lambda: |-
      return id(soil_moisture).state < id(dry_level).state;

  - platform: template
    id: soil_too_wet
    name: "Soil Too Wet"
    lambda: |-
      return id(soil_moisture).state > id(wet_level).state;
